body,html,#__next {
  height: 100%;
}
.main-layout {
  display: flex;
  height: 100%;
  position: relative;
  .main-nav {
    width: 300px;
    height: 100%;
    border-right: 1px solid #ddd;
    &-item {
      a {
        color: #666;
        text-decoration: none;
        position: relative;
        transition: all ease 0.3s;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          height: 2px;
          width: 0px;
          background-color: #39f;
          left: 0;
        }

        &:hover {
          color: #39f;
        }

        &.active {
          color: #39f;
          &::after {
            width: 100%;
          }
        }
      }
    }
    
    &-toggle {
      font-size: 16px;
      padding: 10px 20px;
      a {
        color: #333;
      }
    }

    &-sub-item {
      padding: 10px 30px;
      font-size: 16px;
    }
  }
  .main-content {
    width: calc(100% - 30px);
    padding: 0 40px 100px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;

    h2 {
      font-size: 30px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}