$heihgt: 80px;
$large-height: 100px;
$toggle-width: 20px;

.main-music-player {
  position: fixed;
  z-index: 100;
  width: 720px;
  height: $large-height;
  left: calc(50% - 360px);
  bottom: 0;
  transition: all ease 0.4s;
  display: flex;
  
  &-pic {
    width: $large-height;
    height: $large-height;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
    background-color: #ccc;
    img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      height: auto;
    }
    .music-player-play-btn {
      opacity: 0;
    }
    &:hover {
      .music-player-play-btn {
        opacity: 1;
      }
    }
  }
  &-info {
    position: relative;
    padding: 0 25px;
    width: 620px;
    align-items: center;
    display: flex;
    background-color: #fff;
    transition: all ease 0.6s;
    &:hover {
      .main-music-player-progress-bar {
        background-color: #ccc;
        &-timer {
          opacity: 1;
        }
      }
    }
  }
  &-name {
    font-size: 16px;
    @include text-overflow-ellipsis;
  }
  &-author {
    color: #999999;
    font-size: 12px;
    position: relative;
    top: 2px;
    @include text-overflow-ellipsis;
  }
  &-lyric {
    position: absolute;
    top: -50px;
    text-align: center;
    width: 100%;
    color: $primary-color;
    font-size: 24px;
    z-index: 10;
    &:hover {
      color: $light-primary-color
    }
  }
  &-wrapper {
    @include shadow;
    width: auto;
    display: flex;
    position: absolute;
    transition: all linear 0.4s;
    right: 0;
  }
  &-toggle {
    background: #999;
    height: $heihgt;
    width: $toggle-width;
    @include inner-center;
    display: none;
    svg {
      transform: scale(0.6);
      path {
        stroke: #fff;
      }
    }
  }
  &-desc {
    width: calc(100% - 230px);
  }
  &-control {
    width: 230px;
    position: relative;
    top: 3px;
    .svg-icon {
      transform: scale(0.7);
      margin-left: 8px;
      &:hover {
        path {
          stroke: $primary-color;
        }
      }
      &-antd:hover {
        path {
          fill: $primary-color;
        }
      }
    }
  }
  &-progress-bar {
    height: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease 0.3s;
    &-inner {
      background-color: $primary-color;
      height: 100%;
      width: 0%;
    }
    &-timer {
      opacity: 0;
      transition: all ease 0.3s;
      position: absolute;
      top: 10px;
      font-size: 12px;
      right: 25px;
      font-weight: 300;
      color: #999;
    }
    &-lyric {
      position: absolute;
      top: 10px;
      font-size: 12px;
      left: 12px;
      color: #999;
    }
  }
  &-small {
    bottom: 40px;
    height: $heihgt;
    left: 0;
    width: 400px;
    &.close {
      width: 20px;
    }
    .main-music-player-wrapper {
      width: auto;
    }
    .main-music-player-pic {
      height: $heihgt;
      width: $heihgt;
    }
    .main-music-player-toggle {
      display: flex;
    }
    .main-music-player-desc {
      width: calc(100% - 100px);
    }
    .main-music-player-info {
      padding: 0 15px;
      width: 300px;
    }
    .main-music-player-author {
      display: none;
    }
    .main-music-player-list {
      bottom: 80px;
    }
    .main-music-player-lyric {
      display: none;
    }
    .main-music-player-list-item-singer {
      display: none;
    }
    .main-music-player-control {
      width: 100px;
      position: relative;
      left: 5px;
      &-lyric {
        display: none;
      }
      .svg-icon {
        margin-left: 3px;
      }
      .svg-icon-random,
      .svg-icon-loop,
      .svg-icon-music {
        display: none;
      }
    }
    .main-music-player-progress-bar-timer {
      display: none;
    }
    &.close {
      .main-music-player-list {
        display: none;
      }
    }
  }
  &-list {
    transition: all ease 0.3s;
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    @include shadow;
    h3 {
      padding: 10px 20px;
      background-color: #d8d8d8;
      font-weight: 400;
      margin: 0;
      color: #333;
      .sub {
        font-size: 12px;
        margin-left: 10px;
      }
    }
    &-wrapper {
      height: 300px;
      overflow: auto;
    }
    &-item {
      padding: 5px 20px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      transition: all ease 0.2s;
      color: #666;
      &.active {
        background-color: #bbb;
      }
      &:hover {
        color: #333;
        background-color: #ddd;
      }
      &-singer {
        margin-left: 20px;
        display: inline-block;
        @include text-overflow-ellipsis;
        width: 150px;
      }
    }
  }
  &-show-list {
    .main-music-player-list {
      height: 345px;
    }
  }
  @media screen and (max-width: 720px) {
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    &.close {
      width: 20px;
    }
    .main-music-player-wrapper {
      height: 80px;
      width: 100vw;
    }
    .main-music-player-info {
      width: calc(100% - 100px);
      height: 80px;
      padding: 10px;
    }
    .main-music-player-pic {
      width: 80px;
      height: 80px;
    }
    .main-music-player-desc {
      width: calc(100% - 140px);
    }
    .main-music-player-toggle {
      display: flex;
    }
    .main-music-player-control {
      position: relative;
      width: 140px;
      left: 10px;
      .svg-icon {
        margin-left: 3px;
      }
      .svg-icon-random,
      .svg-icon-loop {
        display: none;
      }
    }
    .main-music-player-list {
      bottom: 80px;
    }
  }
}

.music-player-play-btn {
  @include abs-center;
  @include ball(60px);
  @include inner-center;
  cursor: pointer;
  border: 3px solid #fff;
  transition: all ease .3s;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  .svg-icon path {
    stroke: #fff;
  }
  &:hover {
    border-color: $primary-color;
    ;
    .svg-icon path {
      stroke: $primary-color;
    }
  }
}

