@mixin clearfix {
  &:before, &:after {
    display: table;
    content: '';
  }
}
body,html,#__next {
  height: 100%;
}

a {
  color: #39f;
}
.main-layout {
  display: flex;
  height: 100%;
  position: relative;
  .main-nav {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding-top: 20px;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    
    @include clearfix;
    &-item {
      a {
        color: #666;
        text-decoration: none;
        position: relative;
        transition: all ease 0.3s;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          height: 2px;
          width: 0px;
          background-color: #39f;
          transition: all ease 0.3s;
          left: 0;
        }

        &:hover {
          color: #39f;
        }

        &.active {
          color: #39f;
          &::after {
            width: 100%;
          }
        }
      }
    }
    
    &-toggle {
      font-size: 16px;
      padding: 10px 30px;
      a {
        color: #333;
      }
    }

    &-sub-item {
      padding: 10px 30px 10px 40px;
      font-size: 16px;
    }
  }
  .main-content {
    padding: 0 40px 100px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    @include clearfix;

    &-code-view {
      display: block;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      text-decoration: none;
    }

    &-container {
      width: 720px;
      margin: 0 auto;
    }

    h2 {
      font-size: 30px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    pre {
      line-height: 1.8em;
      padding-left: 10px;
      border-left: 4px solid #39f;
      background-color: #e4f0f7;
      color: #777;
      
      .hljs {
        background-color: #e4f0f7;
        // font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}