@mixin full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#ze-dialog-root {
  @include full-screen;
  display: flex;
  justify-content: center;
  align-items: center;
  #ze-dialog-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
  }
}

@keyframes dialog-animate-in {
  0% {
    top: -20%;
    opacity: 0;
  }
  100% {
    top: 45%;
    opacity: 1;
  }
}

@keyframes dialog-animate-out {
  0% {
    top: 45%;
    opacity: 1;
  }
  100% {
    top: -20%;
    opacity: 0;
  }
}

.ze-dialog {
  position: absolute;
  background-color: #fff;
  max-width: 500px;
  min-width: 300px;
  border-radius: 6px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  &-head {
    padding: 20px;
    .ze-dialog-title {
      font-size: 16px;
      color: #222;
    }
    .ze-dialog-cancel-btn {
      position: absolute;
      right: 20px;
      top: 6px;
      font-size: 30px;
      transform: rotateZ(45deg);
      cursor: pointer;
    }
  }
  &-content {
    padding: 0 20px;
    max-width: 450px;
  }
  &-footer {
    text-align: right;
    padding: 10px 20px;
  }
  &.ze-dialog-animate-in {
    animation: dialog-animate-in ease .4s 1 forwards;
  }
  &.ze-dialog-animate-out {
    animation: dialog-animate-out ease .4s 1 backwards;
  }
}