#drawer-root {
  position: fixed;
  top: 0;
  z-index: 50;
}
.w-drawer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 50;
  

  &-container {
    padding: 25px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    height: 100%;
    width: 340px;
    right: 0;
    transition: all ease 0.6s;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    
    .w-drawer-inner-toggle {
      display: none;
    }

    @media screen and (max-width: 720px) {
      .w-drawer-inner-toggle {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 25px;
        height: 25px;
        left: auto;
      }
    }
  }

  &-toggle,
  &-inner-toggle {
    position: absolute;
    left: -50px;
    width: 25px;
    height: 25px;
    top: 30px;
    cursor: pointer;
    &-bar {
      background-color: #666;
      width: 100%;
      height: 2px;
      display: inline-block;
      position: absolute;
      transition: all ease 0.3s;
      &:nth-child(1) {
        top: 0px;
        transform: rotateZ(0deg);
      }
      &:nth-child(2) {
        top: 9px;
        transform: rotateY(0deg);
      }
      &:nth-child(3) {
        top: 18px;
        transform: rotateZ(0deg);
      }
    }
    &.close {
      .w-drawer-toggle-bar {
        &:nth-child(1) {
          top: 10px;
          transform: rotateZ(45deg);
        }
        &:nth-child(2) {
          top: 9px;
          transform: rotateY(90deg);
        }
        &:nth-child(3) {
          top: 10px;
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  &.close {
    .w-drawer-mask {
      display: none;
    }
    .w-drawer-container {
      right: -340px;
    }
  }

  @media screen and (max-width: 720px) {
    .w-drawer-container {
      width: 100vw;
    }
    &.close {
      .w-drawer-container {
        right: -100vw;
      }
    }
    &-toggle {
      top: calc( 50% - 13px);
      left: -42px;
    }
  } 
}