.ze-icon {
  &-svg {
    width: 128px;
    height: 128px;
    path {
      stroke: #666;
      stroke-width: 10px;
    }
  }

  &-bars {
    path:nth-child(1) {
      d: path('M32 32 64 32 128 32');
    }

    path:nth-child(2) {
      d: path('M32 64 64 64 128 64');
    }

    path:nth-child(3) {
      d: path('M32 96 64 96 128 96');
    }
  }

  &-pause {
    path:nth-child(1) {
      d: path('M32 32 64 32 128 32');
    }

    path:nth-child(2) {
      d: path('M32 64 64 64 128 64');
    }

    path:nth-child(3) {
      d: path('M32 96 64 96 128 96');
    }
  }
}