.ze-input-container {
  width: 250px;
  display: inline-block;
  &-full {
    width: 100%;
  }
  &-has-label {
    padding-top: 20px;
  }
  .ze-input-message {
    margin-top: 4px;
    font-size: 12px;
    color: #999;
  }
  .ze-input-wrapper {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    .ze-input-label {
      position: absolute;
      bottom: 8px;
      color: #777;
      transition: all ease 0.3s;
    }
    &.ze-has-value {
      .ze-input-label {
        position: absolute;
        bottom: 30px;
        color: #444;
      }
    }
    &.ze-focus {
      .ze-input-label {
        position: absolute;
        bottom: 30px;
        color: $primary-color;
      }
      &::after,
      &::before {
        width: 50%;
      }
    }
    &.ze-error {
      &::after,
      &::before {
        width: 50%;
        background: $danger-color;
      }
      &+.ze-input-message {
        color: $danger-color;
      }
    }
    &.ze-required {
      .ze-input-label {
        &::before {
          content: '*';
          color: $danger-color;
          margin-right: 4px;
        }
      }
    }
    &.ze-disabled {
      opacity: 0.6;
      .ze-input {
        cursor: not-allowed;
      }
    }
  }
}

.ze-input-wrapper::after,
.ze-input-wrapper::before {
  content: '';
  display: block;
  width: 0%;
  position: absolute;
  bottom: -1px;
  height: 2px;
  transition: all ease 0.3s;
  background: $primary-color;
}

.ze-input-wrapper::before {
  left: 50%;
}

.ze-input-wrapper::after {
  right: 50%;
}

.ze-input {
  border: none;
  padding: 8px 0;
  display: inline-block;
  font-size: 14px;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.ze-inut-group {
  margin-top: 20px;
}

.ze-input-area {
  &-has-label {
    padding-top: 20px;
  }
  .ze-input-wrapper {
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
    transition: all ease 0.3s;
    position: relative;
    .ze-input-label {
      position: absolute;
      transition: all ease 0.3s;
      top: -14px;
      left: 10px;
      background-color: #fff;
      padding: 0 5px;
      font-size: 18px;
      color: #666;
    }
    &.ze-focus {
      border: 1px solid $primary-color;
      &:after,
      &:before {
        display: none;
      }
      .ze-input-label {
        color: $primary-color;
      }
    }
  }

  .ze-input {
    min-height: 50px;
    resize:none;
  }
}