.ze-table{
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;

  tr>td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }

  tbody>tr {
    &:hover {
      background-color: $week-primary-color;
    }
  }

  tr>th {
    text-align: left;
    padding: 20px;
    background-color: #eee;
    border-bottom: 2px solid #ddd;
  }
}

.ze-table-easy {
  tr>th {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
  }

  tr>td {
    padding-left: 0;
    padding-right: 0;
  }
}

.ze-table-grid {
  tr>th {
    border: 1px solid #ddd;
  }

  tr>td {
    border: 1px solid #ddd;
  }
}

.ze-table-zebra {
  tr:nth-child(2n) {
   background-color: #f7f7f7;
  }
}