$main-bg-color:          #1a1f25;
$main-color:             #000;

$primary-color:          rgb(51, 153, 255);
$warning-color:          rgb(255, 153, 51);
$danger-color:           rgb(255, 51, 51);
$success-color:          rgb(51, 220, 51);

$light-primary-color:     rgb(51, 153, 230);
$light-warning-color:     rgb(230, 153, 51);
$light-danger-color:      rgb(230, 51, 51);
$light-success-color:     rgb(51, 200, 51);

$mark-primary-color:     rgba(51, 153, 255, 0.3);
$mark-warning-color:     rgba(255, 153, 51, 0.3);
$mark-danger-color:      rgba(255, 51, 51, 0.3);
$mark-success-color:     rgba(51, 255, 153, 0.3);

$basic-lh:                 1.8em;
$shadow:                   '0 2px 5px #333';
$border-color:           #ddd;
$week-primary-color:       rgb(240, 246, 252);


.clearfix {
  &:before {
    display: table;
    content: ''
  }
  &:after {
    display: table;
    content: ''
  }
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin ball($r) {
  width: $r;
  height: $r;
  border-radius: $r;
}

@mixin inner-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 1px -4px 30px -12px rgba(0, 0, 0, 0.7);
}

@mixin text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}