$main-bg-color:          #1a1f25;
$main-color:             #000;

$primary-color:          rgb(51, 153, 255);
$warning-color:          rgb(255, 153, 51);
$danger-color:           rgb(255, 51, 51);
$success-color:          rgb(51, 220, 51);

$deep-primary-color:     rgb(51, 153, 230);
$deep-warning-color:     rgb(230, 153, 51);
$deep-danger-color:      rgb(230, 51, 51);
$deep-success-color:     rgb(51, 200, 51);

$mark-primary-color:     rgba(51, 153, 255, 0.3);
$mark-warning-color:     rgba(255, 153, 51, 0.3);
$mark-danger-color:      rgba(255, 51, 51, 0.3);
$mark-success-color:     rgba(51, 255, 153, 0.3);

$basic-lh:                 1.8em;
$shadow:                   '0 2px 5px #333';

$week-primary-color:      rgb(240, 246, 252);
